.page {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.page-body {
    position: relative;
    width: 1440px;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: "ROBOTO", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    background: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%)
}

.clear-list-styles{
    list-style: none;
    padding: 0;
    margin: 0;
}

.clear-link-styles{
    color: var(--basic-black);
	text-decoration: none
}

.main-navigation {
    padding: 55px 140px 0;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    background: #eeeeee;
    display: grid;
    grid-template-columns: 1fr 437px 1fr;
    align-items: center;
}

.header-logo-link{
    width: 160px;
}

.site-navigation {
    width: 437px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navigation-cart {
    position: relative;
    text-align: end;
}

.navigation-cart-link::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 100px;
    width: 15px;
    height: 15px;
    background-image: url(img/cart-icon.svg);
}

.slider {
    position: relative;
    background: #eeeeee;
}

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.slider-controls .current {
    position: relative;
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
.slider-controls .current::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 5px;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #c1c1c1;
}



.slider-controls{
    position: absolute;
    bottom: 113px;
    right: 47%;
    display: flex;
    width: 88px;
    justify-content: space-between;
}

.slider-list{
    margin: 0;
    padding: 0;
}

.slide{
    display: none;
}

.slide-current{
    display: block;
}

.tittle-slide {
    width: 400px;
    float: left;
    margin-left: 140px;
}

.slogan-slide {
    width: 523px;
    margin: 0;
    padding-top: 66px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 700;
}

.text-slide {
    margin: 0;
    padding-top: 27px;
}

.button-slide {
    margin-top: 40px;
    width: 240px;
    height: 50px;
    background: #FB565A;
    color: #ffffff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.features-list {
    padding: 0 140px;
    display: flex;
}

.feature {
    position: relative;
    padding-top: 230px; 
}

.feature:first-child:before {
    content: "";
    position: absolute;
    top: 70px;
    left: 0 ;
    width: 300px;
    height: 147px;
    background-image: url(img/vebsite.svg);
}

.feature:nth-child(2):before {
    content: "";
    position: absolute;
    top: 70px;
    left: 0 ;
    width: 300px;
    height: 147px;
    background-image: url(img/attachment.svg);
}

.feature:last-child:before {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    width: 300px;
    height: 147px;
    background-image: url(img/presentation.svg);  
}

.feature-tittle {
    width: 400px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
}

.feature-text {
    width: 277px;
}

.feature-button {
    margin-top: 15px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
}

.feature-button-web {
    background: #FB565A;
}
.feature-button-program {
    background: #00CA74;
}
.feature-button-present {
    background: #EFC849;
}

.benefits {
    position: relative;
    padding: 100px 140px;
    display: flex;
}

.benefits::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 140px;
    width: 1158px;
    height: 2px;
    background-color: #eeeeee;
}

.benefits-tittle{
    margin: 0;
    padding-top: 55px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    width: 681px;
}

.benefits-text {
    margin: 0;
    padding-top: 35px;
    width: 650px;
}

.benefits-list {
    margin: 0;
    padding-top: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.benefits-item {
    position: relative;
    padding-top: 23px;
    padding-left: 35px;
}

.benefits-item::before {
    content: "";
    position: absolute;
    top: 34px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #FB565A;
}

.benefits-aside {
    margin-left: 130px;
    padding-top: 245px;
}

.benefits-aside-tittle{
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
}

.benefits-aside-tittle::before {
    content: "";
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 360px;
    height: 208px;
    background-image: url(img/main-logo.svg);
}

.benefits-aside-list {
    display: flex;
}

.benefits-aside-number {
    margin: 0;
    padding-right: 15px;
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}

.benefits-aside-text {
    line-height: 18px;
}


.wrap {
    position: relative;
    padding: 50px 0;
    margin-bottom: 130px;
    cursor: pointer;
}

.wrap::before {
    content: "";
    position: absolute;
    bottom: 133px;
    left: 140px;
    width: 1158px;
    height: 2px;
    background-color: #eeeeee;
}

.wrap::after {
    content: "";
    position: absolute;
    top: 148px;
    left: 140px;
    width: 1158px;
    height: 2px;
    background-color: #eeeeee;
}

.wrap-icon-academy::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 175px;
    width: 200px;
    height: 68px;
    background-image: url(img/group1.svg);
}

.wrap-icon-borodinskyi::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 465px;
    width: 209px;
    height: 90px;
    background-image: url(img/group2.svg);
}

.wrap-icon-pink::after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 476px;
    width: 185px;
    height: 52px;
    background-image: url(img/group3.svg);
}

.wrap-icon-mishka::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 183px;
    width: 173px;
    height: 84px;
    background-image: url(img/group4.svg);
}

.wrap-icon-borodinskyi::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 419px;
    width: 2px;
    height: 52px;
    background: #eeeeee;
}

.wrap-icon-pink::before {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 719px;
    width: 2px;
    height: 52px;
    background: #eeeeee;
}

.wrap-icon-mishka::before {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 419px;
    width: 2px;
    height: 52px;
    background: #eeeeee;
}

.modal-close {
    display: none;
}

.modal-show {
    display: block;
}

.maps {
    position: relative;
}

.footer-contact {
    content: "";
    position: absolute;
    left: 138px;
    bottom: 270px;
    width: 319px;
    height: 308px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 37px 50px;
}

.footer-contact-tittle {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.footer-contact-text {
    margin: 0;
}

.footer-contact-button {
    width: 219px;
    height: 50px;
    color: #ffffff;
    background: #FB565A;
    border: none;
    margin-top: 11px;
    cursor: pointer;
}

.footer-social {
    display: flex;
    margin: 60px 140px;
}

.social-list {
    display: flex;

}

.social {
    width: 81px;
    height: 81px;
    background-color: #e1e1e1;
    border-radius: 40px;
    box-sizing: border-box;
    margin-right: 10px;
}

.social-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-slogan{
    margin-left: 125px;
}

.footer-social-tittle {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.form {
    position: fixed;
    top:25%;
    left: 20%;
    width: 960px;
    height: 590px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 64px 97px;
}

.form-caption {
    margin: 0;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
}

.label-name,.label-email, .label-question {
    font-weight: 700;
    line-height: 18px;
}

.field-name, .field-email {
    padding: 10px 164px 10px 15px;
    margin-right: 40px;
    margin-top: 10px;
    outline: 2px solid #D7DCDE;
    border: none;
}

.field-question {
    margin-top: 10px;
    padding: 10px 0 105px 15px;
    width: 760px;
    outline: 2px solid #D7DCDE;
    border: none;
}

.form-name {
    display: flex;
}

.form-button-submit {
    margin-top: 30px;
    width: 259px;
    height: 50px;
    background-color: #FB565A;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.modal-form {
    position: relative;
}

.form-button-close {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translateY(-220%);
    width: 21px;
    height: 21px;
    border: none;
    background-image: url(img/buttonClose.svg);
    cursor: pointer;
}

.header-logo-img:hover .header-logo-path {
    opacity: 0.7;
}
.header-logo-img:active .header-logo-path{
    opacity: 0.3;
}

.navigation-link:hover{
    color: #FB565A;
}
.navigation-link:active{
    opacity: 0.3;
}

.navigation-cart:hover{
    color: #FB565A;
}
.navigation-cart:active{
    opacity: 0.3;
}

.button-slide:hover{
    background-color: #e74246;
}

.button-slide:active{
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    outline: none;   
}

.feature-button-web:hover{
    background-color: #e74246;
}
.feature-button-web:active{
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    outline: none;   
}

.feature-button-program:hover{
    background-color: #00bc6c;
}
.feature-button-program:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
    outline: none;   
}


.feature-button-present:hover{
    background-color: #eab534;
}
.feature-button-present:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722; 
    outline: none;   
}

.social-icon:hover{
    background-color: #E74246;
    border-radius: 40px;
}

.social-icon:active{
    background-color: #d7373b;
}
.social-img:active{
    fill: rgba(255, 255, 255, 0.3);
}

.field-name:focus{
    border: 2px solid black;
    color: black;
}

.field-email:focus{
    border: 2px solid black;
    color: black;
}
.field-question:focus{
    border: 2px solid black;
    color: black;
}

.field-name:invalid{
    border: 2px solid red;
}
